<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://arcgisdev01/arcgis/rest/services/"
                   matchAll="false"/>
      <serverUrl url="http://arcgisprod03/arcgis/rest/services/Internal/"
           matchAll="false"/>
      <serverUrl url="https://en.wikipedia.org/w/api.php"
           matchAll="false"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
