<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="http://localhost:62808/,https://apps.canterburymaps.govt.nz"
             mustMatch="true"
             logfile="App_Data/proxylog.txt">

  <serverUrls>
    <serverUrl url="https://en.wikipedia.org/w/api.php"
         matchAll="false"/>
    <serverUrl url="https://ecanmapstest.ecan.govt.nz/server/rest/services/Hosted/MapQuiz/FeatureServer"
         matchAll="true"
         username="[Account Name]"
         password="[Password]"
         tokenServiceUri="https://ecanmapstest.ecan.govt.nz/portal/sharing/rest/oauth2/token" />
  </serverUrls>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
